ul{
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

body{
	font-family: 'Oswald';
	margin: 0;
}
#header{
	width: 100%;
    height: 52px;
    background: white;
}
#header div{
	display: inline-block;
	position: fixed;
	overflow: hidden;
}
.logo{
	position: absolute;
	left: 30px;
	top: 10px;
	z-index: 1;
}
#menu{
	overflow: hidden;
    text-align: center;
	position: relative;
    line-height: 50px;
    width: auto;
    margin: 0 auto;
}
#menu > li{
	margin-left: 23px;
}
#menu li .sub{
	top: 52px;
	left: 0px;
	display: none;
	width: 100%;
	position: fixed;
	z-index: 5;
	margin-bottom: 30px;
	padding-left: 40px;
	overflow: hidden;
	background-color: white;
	text-align: left;
	list-style: none;
}
.sub li{
	margin-bottom: 20px;
}
.sub > li:first-child{
	margin-top: 20px;
}
#menu li:hover > .sub{
		display: block;
}
#menu > li{
	display: inline-block;
	margin-left: 20px;
}
#menu li a{
	text-decoration: none;
	color: #797979;
}
.carretera{
	width: 180px;
}
.modelos{
	position: fixed;
	left:200px;
	top:70px;
	display: none;
	width: 200px;
	border-left: solid 2px #000;
    padding-left: 50px;
}
.personalizar{
	position: fixed;
	left:400px;
	top:70px;
	display: none;
	width: 200px;
	border-left: solid 2px #000;
    padding-left: 50px;
}
.carretera:hover > .personalizar,.carretera:hover > .modelos,
.modelos:hover, .personalizar:hover{
	display: block;
}
.modelos img{
	display: none;
	position: fixed;
	right: 0;
	top: 50px;
	width: 45%;
	height: 370px;
}
.modelos .orca:hover img,.modelos .orcaaero:hover img,.modelos .avant:hover img,.modelos .terra:hover img{
	display: block;
}
.iconos{
	float: right;
    top: 15px;
    position: fixed;
    right: 20px;
}
.iconos li{
	display: inline-block;
	margin-left: 15px;
}


.informacion{
	padding-top: 100px;
	padding-left: 40px;
	width: 30%;
	display: inline-block;
	float: left;
	font-weight: 600;
}
p {
    color: #666;
}
.enlaces li{
	display: inline-block;
	margin-left: 20px;
}
#producto{
	display: inline-block;
	width: 50%;
	margin-top: 150px;
	margin-left: -50px;
	z-index: -5;
}
.colores{
	float: right;
    display: inline-block;
    margin-top: 150px;
    margin-right: 50px;
}
.colores li{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 10px;
}
.bola{
	border: 2px solid transparent;
}
#bola1{
	background-color: red;
}
#bola2{
	background-color: black;
}
#bola3{
	background-color: darkblue;
}
.past{
	display: inline-block;
	float: right;
	margin: 30px;
	
}
.pastillas li {
    font-size: 20px;
    display: inline-block;
	text-align: center;
}
/*li.pastpersonalizar {
    background-color: white;
    border: solid 0.5px;
	width: 114px;
}*/
li.pastcomprar {
    background-color: blue;
	color: white;
    margin: 10px;
    width: 114px;
    text-align: center;
}
li.pastprecio{
	background-color: black;
	color: white;
	width: 114px;
}
@media screen and (min-width: 993px){
	.checked{
		display: none;
	}
}
@media screen and (max-width: 992px){
.logo {
   position: absolute;
   top: 15px;
   left: 30px;
}
.checked{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	opacity: 0;
}
#hamburguesa{
	background-color: white;
	width: 15px;
	height: 15px;
	padding-top: 15px;
	padding-right: 15px;
	float: right;
}
#hamburguesa li{
	background-color: black;
	width: 15px;
	height: 1px;
	margin: 5px auto;
	border-radius: 15px;
}
#menu{
	position: absolute;
	top: 50px;
	right: -100%;
	width: 100%;
	transition: 1s;
	background-color: white;
	text-align: left;
}
#menu > li{
	display: block;
}
.checked:checked ~ #menu{
	right: 0;
	transition: 1s;
}
.iconos{
	top: 15px;
	position: fixed;
	right: 60px;
}
.carretera:hover > .personalizar,.carretera:hover > .modelos,
.modelos:hover, .personalizar:hover{
	display: contents;
}
#menu li:hover > .sub{
	display: inline-block;
}
.sub li:hover > .modelos{
	display: contents;
}
.modelos img{
	display: none;
}
.personalizar img{
display: none;
}
.modelos .orca:hover img,.modelos .orcaaero:hover img,.modelos .avant:hover img,.modelos .terra:hover img{
	display: none;
}
.personalizar .orca2:hover img,.personalizar .orcaaero2:hover img,.personalizar .terra2:hover img{
	display: none;
}
.informacion {
    padding-top: 0px;
    padding-left: 15px;
    width: 100%;
    display: inline-block;
    float: left;
	font-weight: 600;
}
#producto {
    display: block;
    width: 410px;
    margin: auto;
}
.colores {
    float: right;
    margin-top: -500px;
    margin-right: 10px;
    display: block;
}
.colores li {
    display: block;
    width: 25px;
    margin-bottom: 13px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
}

.past {
    display: flex;
    float: right;
    margin: 0;
    width: 100%;
}
.pastillas {
    width: 100%;
    display: inline-block;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
li.pastcomprar {
    background-color: blue;
    color: white;
    width: 50%;
    text-align: center;
    margin: 0px;
    height: 50px;
    padding-top: 2px;
    font-size: 30px;
}
li.pastprecio {
    background-color: black;
    color: white;
    width: 49%;
	height: 52px;
	font-size: 30px;
}
}


